In [ ]:
#SPRINT 1 ASSIGNMENT BY BENEDICTA NWACHUKWU

In [ ]:
#James is embarking on a journey with the following items in the trunk of his car;

In [ ]:
#variables for each of these items

In [ ]:
packs_of_bottle_water = 14       #14 packs of bottled water
packed_suite_cases = 2           #2 packed suite cases
golf_kit = 1                     #One golf kit
golf_clubs = 24                  #24 golf clubs

In [ ]:
#For each of the following code block, show what is wrong with the code:

In [ ]:
vehicleSpeed  =  35kph        #35kph is alphanumeric and it is a text string. 
                            #if you print, there will be an error message because the vaule should be enclosed in quotes
                            #it should be "35kph"

In [ ]:
studentWeight = 75 kg      #there will be an error message becase of the white space in between 75 and kg, and it should be in
                           #quotes too
                           #it should read "75kg" instead

In [ ]:
happiness  Rating = ‘Very Happy’   #there is an error here in the variable name declaration, there should not be spacing when
                                   #when declaring a variable name.
                                   #it should be happinessRating, or happines_rating

In [ ]:
count, subcount = 45               #two variables names cannot be assigned to one value with one declaration
                                #so there will be an error
                                 #it should be count = 45   subcount = 45

In [ ]:
#You are given the following information about  7 students in a class;

In [ ]:
#Organize this information using variables
#Create Lists to hold all the student information

In [ ]:
#rowland brooks
Age = 13
Marital_status = 'single'
Number_children = 4

#tambe bwali
Age = 27
Marital_status = 'Married'
Number_children = 6

#bitrus yagi
Age = 40
Marital_status = 'Married'
Number_children = 2

#kofi kwame
Age = 51
Marital_status = 'Single'
Number_children = 7

#butuwase nglesi
Age = 38
Marital_status = 'Single'
Number_children = 0

#peter okafor
Age = 33
Marital_status = 'Married'
Number_children = 3

#adebo babalaki
Age = 51
Marital_status = 'Divorced'
Number_children = 9

In [ ]:
rowland_brooks = [30,"Single",4]                       #Rowland Brooks: Age 30, marital status: Single, Number of children 4
tambe_bwali = [27,"Married",6]                         #Tambe Bwali: Age 27, marital status: Married, Number of children 6
bitrus_yagi = [40,"Married",2]                     #Bitrus Yagi: Age 40, marital status: Married, Number of children 2
kofi_kwame = [51,"Single",7]                       #Kofi Kwame: Age 51, marital status: Single, Number of children 7
butuwase_nglesi = [38,"Single",0]                 #Butuwase Nglesi: Age 38, marital status: Single, Number of children 0
peter_okafor = [33,"Married",3]                #Peter Okafor: Age 33, marital status: Married, Number of children 3
adebo_babalaki = [51,"Divorced",9]             #Adebo Babalaki: Age 51, marital status: Divorced, Number of children 9

In [ ]:
students_name = ['Rowland','Tambe','Biturs','Kofi','Butuwase','Peter','Adebo']
students_age = [30,27,40,51,38,33,51]
students_marital_statuses = ['Single','Married','Married','Single','Single','Married','Divorced']
students_num_of_children = [4,6,2,7,0,9]

In [8]:
#Manddels monthly earning

mandel_earnings = 12000
    
#Mandel savings 

mandel_savings = 0.5*mandel_earnings
    
#Mandel Debts
ngelesi = 300
belinda = 500
unpaid_bills = 3000
total_debts = ngelesi + belinda + unpaid_bills

#received debts

nathan = 2500
    
total_expenses = mandel_savings + total_debts

cash_remaining = mandel_earnings - total_expenses

cash_at_hand = cash_remaining + nathan
    
print(cash_at_hand)

4700.0